# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="postgresql://user:password@localhost:5432/mydb"
JWT_SECRET=969c0b5be923324b5fa47f66ae69645625649330ea55c1025b290fe9217f8344
YOUTUBE_API_KEY=your_key_here